<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/stylesIndex.css" th:href="@{/stylesIndex.css}" rel="stylesheet"/>

</head>
<body>
<div class="container">
    <h1>TODO LIST</h1>
    <hr/>

    <div class="sort-menu">
        <h2>Sort By</h2>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/home/id}">ID</a>
            <a class="dropdown-item" th:href="@{/home/update-at}">Update At</a>
            <a class="dropdown-item" th:href="@{/home/create-at}">Create At</a>
        </div>
    </div>

    <div class="search-box">
        <form action="#" th:action="@{/home/search}" method="GET">
            <input type="text" name="searchIndex" placeholder="Search by index">
            <button type="submit" class="btn btn-outline-success">Search</button>
            <a class="btn btn-danger" href="/">Reset</a>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Is ready</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.description}"></td>
            <td>
                <span th:if="${item.isReady} == true" th:text="Yes"/>
                <span th:unless="${item.isReady} == true" th:text="No"/>
            </td>
            <td th:text="${#temporals.format(item.timeOfCreated, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${#temporals.format(item.timeOfUpdated, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td>
                <div class="btn btn-actions" role="group">
                    <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">Edit</a>
                    <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <p><a class="btnAdd" href="/create-todo">Create a Todo</a></p>
</div>
</body>
</html>
